body {
  background: #cad2c5;
}

div {
  margin: 0 auto;
}

.app-body {
  border: 1px solid #2f3e46;
  border-radius: 10px;
}

.card {
  background: #fff;
  max-width: 600px;
}
.city,
h1 {
  color: #2f3e46;
}
h1,
h4,
h5,
p {
  font-family: "El Messiri", sans-serif;
}
h4,
h5,
p {
  color: #52796f;
}
.city {
  font-family: "Special Elite", cursive;
}

.units {
  font-size: medium;
}

.units .active {
  color: #2f3e46;
  text-decoration: none;
  cursor: default;
}

.quote {
  text-align: center;
  margin: 0 auto;
}
.current-weather-icon {
  bottom: 45px;
  position: relative;
}
.fa-sun {
  color: #354f52;
  font-size: 45px;
  position: relative;
  bottom: 7px;
}

.link {
  text-align: center;
  font-family: "El Messiri", sans-serif;
  font-size: 15px;
}
